/* Los estilos de tu proyecto */
body{
	margin: 0 auto;
}

/*Barra de Navegación*/
#navegacion {
  background-color: white;
  padding: 30px;
  margin: 0;
}
.logo1 {
  margin-top: 15px;
}
.boton {
  margin-left: 2em;
  text-align: center;
}
#menuBoton:hover {
  color: #FFBF00;
  transition: 1s;
}
/*Menú versión movil*/
#Logo1 {
  margin-top: 0.5em;
}
#iconbutton {
  transition: 1s;
}

/*Imagen principal*/
.Portada {
  background-image: url(../images/taxi.jpg);
  background-size: cover;
  background-position: bottom; 
  width: 100%;
  height: 100vh;
}
#cuadroPrincipal {
  background-color: #FFBF00;
  margin-top: 6rem;
}
#Recuadro {
  margin-right: 0;
}
.titleCuadro{
  font-size: 2.5em;
  color: white;
  margin-bottom: 1em;
}
.subtitleCuadro {
  font-size: 1.5em;
  color: white;
  margin-bottom: 1.5em;
}
.logoBlanco {
  width: 15%;
  margin-left: 0.2em;
}
#registrar {
  display: block;
  margin-bottom: 1em;
  transition: 1s;
}
.linea1, .linea2 {
  width: 30%;
}
.linea1 {
  margin-left: 10%
}
.letterBlanco {
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}
.linea1, .letterBlanco, .linea2 {
  display: inline-flex;
} 
#LargeBTN {
  margin-top: 1em;
  margin-bottom: 2em;
  transition: 1s;
}
/*Cuadro principal versión movil*/
#cuadroPrincipalOculto {
  background-color: #FFBF00;
  padding: 2em;
  margin-top: 20rem;
}
.tituloOculto {
  color: white;
  font-size: 1.5em;
  margin-top: 0;
}
.logoBlancoOculto {
  width: 32%;
}
#LargeBTNoculto {
  transition: 1s;
}

/*Cuadro del Celular y Parrafos*/
.segundoRecuadro {
  background-color: #FFBF00;
}
#CuadroCelular {
  border: 1px solid white;
}
#contenedorcelular {
  margin-top: 5em;
  margin-bottom: 5em;
}
.celular {
  max-width: 100%;
}
#contenedortextocelular {
  max-width: 50%;
  margin-top: 5em;
  margin-left: 5em;
}
.tituloapp, .parrafoapp1, .parrafoapp2 {
  color: white;
}
.tituloapp {
  font-size: 3em;
  padding-bottom: 0.5em;
}
.parrafoapp1 {
  padding-bottom: 1em;
}
.parrafoapp1, .parrafoapp2 {
  font-size: 1.6em;
}
/*Celular versión movil*/
.tituloapp1oculto {
  color: white;
  text-align: center;
  margin-top: -2em;
  margin-bottom: 1em;
}
.celular1 {
  max-width: 100%;
  padding: 1em;
  border: 1px solid white;
}
.parrafoapp2oculto {
  color: white;
  font-size: 1.5em;
  margin-top: 2em;
  text-align: center;
}

/*Tercer recuadro con imagen de fondo y cuadro de información*/
.tercerRecuadro {
  background-image: url(../images/conduce.jpg);
  background-size: cover;
  background-position: center; 
  width: 100%;
  height: 60vh;
}
#CuadroConductor {
  margin-right: 0;
  max-height: 100%;
}
#contenedortextoconductor {
  background-color: rgba(0,0,0,0.7);
}
.tituloconduc, .parrafoconduc {
  color: white;
}
.tituloconduc {
  font-size: 2.5em;
  padding-top: 1em;
  padding-bottom: 0.5em;
}
.parrafoconduc {
  font-size: 1.5em;
  padding-bottom: 0.5em;
}
#botonconduc {
  margin-bottom: 8.8em;
  transition: 1s;
}
/*Boton conductor versión movil*/
#botonconducOculto {
  margin-bottom: 4.2em;
  transition: 1s;
}

/*Recuadro del mapa*/
.cuartoRecuadro {
  background-color: #FFBF00;
}
.titulotarifa, .parrafotarifa {
  color: white;
}
.titulotarifa {
  font-size: 2.5em;
  padding-top: 1em;
  padding-bottom: 0.5em;
}
.parrafotarifa {
  font-size: 1.5em;
  padding-bottom: 0.5em;
}
.iconopunto, .iconocohete {
  padding: 1em;
}
.inputpartida, .inputdestino {
  width: 70%;
  background-color: #FFBF00;
  border: 1px solid white;
  border-radius: 0.5em;
}
.inputpartida::placeholder {
  color: white;
}
.inputdestino::placeholder {
  color: white;
}
.inputpartida:focus {
  outline: none !important;
  border-color: white;
  box-shadow: 0 0 1em white;
}
.inputdestino:focus {
  outline: none !important;
  border-color: white;
  box-shadow: 0 0 1em white;
}
#botonviaje {
  margin-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  transition: 1s;
}
#cuadromapa {
  padding: 2em;
  border: 1px solid white;
}
.mapa {
  max-width: 100%;
}
/*Boton mapa versión movil*/
#botonviajeOculto {
  margin-left: 5em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  transition: 1s;
}

/*Footer*/
.Cierre {
  background-color: #424242;
}
#bordeBlanco1 {
  border-bottom: 1px solid white;
}
.logoBlancoFinal {
  margin-top: 1em;
  margin-bottom: 1em;
}
.fa-facebook, .fa-twitter, .fa-linkedin, .fa-apple, .fa-play {
  color: white;
  cursor: pointer;
  padding: 0.2em;
  margin-top: 15em;
}
h6 {
  margin-top: 1.5em;
}
a {
  color: white;
  margin-top: 1em;
}
a:hover {
  color: #FFBF00;
  text-decoration: none;
  transition: 1s;
}
.botonapp1, .botonapp2 {
  margin-top: 3em;
  margin-bottom: 2em;
  cursor: pointer;
}
/*.botonapp2 {
  
}*/
#bordeBlanco2 {
  border-top: 1px solid white;
}
.copyright {
  color: white;
  margin-bottom: 5em;
}
/*Icons versión movil*/
#icons {
  color: white;
  cursor: pointer;
  padding: 0.2em;
  margin-top: 1em;
}

/*Consideraciones diseño:
1) A pesar de que se dieron unas bases para la versión pc y movil, hay cosas que les di mi estilo personal puesto que estéticamente se 
  veía mejor (visiblemente más atractivo en comparación a las fotografías).
2) No me dio tiempo para hacer los puntos extras por estár enferma (cuando pueda los realizaré)... Lo siento u_u */